#!/bin/bash

#
# Extract the Guest additions from this file
#

# Figure out the line number the end-o-bash marker lives on
line=$(fgrep -axnm 1 '%MARKER%' "$0" | sed 's/:.*//')

iso=/tmp/VBoxGuestAdditions.iso

# Grab everything after the marker line and stuff it in a file
tail -n+$(($line+1)) "$0" > $iso

# Installing the virtualbox guest additions
mount -o loop $iso /mnt
sh /mnt/VBoxLinuxAdditions.run
umount /mnt
rm -f $iso